.login { 
	overflow:hidden;
}
.e1_10 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:720px;
	position:absolute;
}
.e4_17 { 
	background-color:rgba(64.00000378489494, 99.00000169873238, 203.00000309944153, 1);
	width:794px;
	height:720px;
	position:absolute;
	left:486px;
	top:0px;
}
.e4_2 { 
	color:rgba(64.00000378489494, 99.00000169873238, 203.00000309944153, 1);
	position: absolute;
	width: 77px;
	height: 44px;
	left: 53px;
	top: 52px;
	font-family: 'Josefin Sans';
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #4063CB;
}
.e4_5 { 
	width:53px;
	height:57px;
	position:absolute;
	left:130px;
	top:39px;
	background-image:url(images/logo_unesa_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e21_7 { 
	width:382px;
	height:411px;
	position:absolute;
	left:38px;
	top:156px;
	background-image:url(images/logo_unesa_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e4_18 { 
	width:587px;
	height:37px;
	position:absolute;
	left:573px;
	top:248px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.selamat { 
	color:rgba(255, 255, 255, 1);
	width:315px;
	height:20px;
	position:absolute;
	left:583px;
	top:150px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e4_65 { 
	color:rgba(255, 255, 255, 1);
	width:198px;
	height:13px;
	position:absolute;
	left:583px;
	top:177px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e4_66 { 
	color:rgba(255, 255, 255, 1);
	width:157px;
	height:14px;
	position:absolute;
	left:955px;
	top:56px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e4_67 { 
	color:rgba(255, 255, 255, 1);
	width:42px;
	height:14px;
	position:absolute;
	left:573px;
	top:225px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}

.e4_70 { 
	width:587px;
	height:37px;
	position:absolute;
	left:573px;
	top:343px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e4_71 { 
	color:rgba(255, 255, 255, 1);
	width:75px;
	height:14px;
	position:absolute;
	left:573px;
	top:320px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}

.e4_68 { 
	width:96px;
	height:34px;
	position:absolute;
	left:1134px;
	top:46px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e4_69 { 
	color:rgba(255, 255, 255, 1);
	width:55px;
	height:14px;
	position:absolute;
	left:1156px;
	top:56px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e4_74 { 
	color:rgba(255, 255, 255, 1);
	width:119px;
	height:14px;
	position:absolute;
	left:1042px;
	top:455px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e4_72 { 
	background-color:rgba(255, 255, 255, 1);
	width:165px;
	height:51px;
	position:absolute;
	left:576px;
	top:438px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e4_73 { 
	color:rgba(64.00000378489494, 99.00000169873238, 203.00000309944153, 1);
	width:53px;
	height:20px;
	position:absolute;
	left:629px;
	top:454px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.box1 {
	box-sizing: border-box;
	position: absolute;
	width: 587px;
	height: 37px;
	left: 573px;
	top: 248px;
	border: 1px solid #FFFFFF;
	border-radius: 6px;
}
.box2 {
	box-sizing: border-box;

	position: absolute;
	width: 587px;
	height: 37px;
	left: 573px;
	top: 343px;
	
	border: 1px solid #FFFFFF;
	border-radius: 6px;
}

.text {
	writing-mode: horizontal-tb !important;
    position: absolute;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
	position: absolute;
	width: 587px;
	height: 37px;
	left: 573px;
	top: 248px;
}
.hompage { 
	overflow:hidden;
}
.e22_160 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 250.00000029802322, 1);
	width:1280px;
	height:720px;
	position:absolute;
}
.e22_161 { 
	background-color:rgba(255, 255, 255, 1);
	width:1123px;
	height:49px;
	position:absolute;
	left:95px;
	top:22px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e22_162 { 
	background-color:rgba(64.00000378489494, 99.00000169873238, 203.00000309944153, 1);
	width:78px;
	height:720px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_163 { 
	background-color:rgba(255, 255, 255, 1);
	width:524px;
	height:609px;
	position:absolute;
	left:694px;
	top:93px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e22_166 { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:15px;
	position:absolute;
	left:923px;
	top:39px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e22_167 { 
	background-color:rgba(255, 255, 255, 1);
	width:44px;
	height:42px;
	position:absolute;
	left:17px;
	top:660px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e22_168 { 
	background-color:rgba(255, 255, 255, 1);
	width:583px;
	height:108px;
	position:absolute;
	left:95px;
	top:93px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e22_171 { 
	width:30px;
	height:33px;
	position:absolute;
	left:167px;
	top:30px;
	background-image:url(images/logo_unesa_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_172 { 
	color:rgba(64.00000378489494, 99.00000169873238, 203.00000309944153, 1);
	width:505px;
	height:33px;
	position:absolute;
	left:134px;
	top:135px;
	font-family:Josefin Sans;
	text-align:justified;
	font-size:33px;
	letter-spacing:0;
}
.e22_174 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:15px;
	position:absolute;
	left:1087px;
	top:39px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e22_178 { 
	color:rgba(255, 255, 255, 1);
	width:435px;
	height:15px;
	position:absolute;
	left:738px;
	top:330px;
	font-family:Josefin Sans;
	text-align:justified;
	font-size:15px;
	letter-spacing:0;
}
.e22_179 { 
	color:rgba(64.00000378489494, 99.00000169873238, 203.00000309944153, 1);
	width:60px;
	height:22px;
	position:absolute;
	left:107px;
	top:35px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e22_180 { 
	color:rgba(64.00000378489494, 99.00000169873238, 203.00000309944153, 1);
	width:134px;
	height:24px;
	position:absolute;
	left:719px;
	top:117px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e22_220 { 
	color:rgba(64.00000378489494, 99.00000169873238, 203.00000309944153, 1);
	width:131px;
	height:24px;
	position:absolute;
	left:890px;
	top:414px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e22_186 { 
	background-color:rgba(64.00000378489494, 99.00000169873238, 203.00000309944153, 1);
	width:524px;
	height:64px;
	position:absolute;
	left:694px;
	top:638px;
}
.e22_187 { 
	color:rgba(255, 255, 255, 1);
	width:46px;
	height:15px;
	position:absolute;
	left:759px;
	top:39px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e22_189 { 
	color:rgba(255, 255, 255, 1);
	width:90px;
	height:33px;
	position:absolute;
	left:1032px;
	top:653px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:33px;
	letter-spacing:0;
}
.e22_191 { 
	width:32px;
	height:25.14285659790039px;
	position:absolute;
	left:23px;
	top:107px;
}
.e22_192 { 
	background-color:rgba(255, 255, 255, 1);
	width:32px;
	height:25.14285659790039px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_193 { 
	transform: rotate(180deg);
	width:27.125px;
	height:31px;
	position:absolute;
	left:52.125px;
	top:169px;
}
.e22_194 { 
	transform: rotate(180deg);
	background-color:rgba(255, 255, 255, 1);
	width:27.125px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_199 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:56px;
	height:56px;
	position:absolute;
	left:11px;
	top:15px;
}
.e22_195 { 
	width:31.25px;
	height:25px;
	position:absolute;
	left:23px;
	top:236px;
}
.e22_197 { 
	width:31.25px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_198 { 
	background-color:rgba(255, 255, 255, 1);
	width:31.25px;
	height:25px;
	position:absolute;
	left:2.842170943040401e-14px;
	top:0px;
}
.e22_200 { 
	width:27.5206298828125px;
	height:31.4521484375px;
	position:absolute;
	left:25px;
	top:26px;
}
.e22_201 { 
	background-color:rgba(64.00000378489494, 99.00000169873238, 203.00000309944153, 1);
	width:27.5206298828125px;
	height:31.4521484375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_204 { 
	width:20px;
	height:32.9561767578125px;
	position:absolute;
	left:1178px;
	top:654px;
}
.e22_205 { 
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:32.9561767578125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_210 { 
	width:30.2515869140625px;
	height:30.2515869140625px;
	position:absolute;
	left:24px;
	top:666px;
}
.e22_211 { 
	background-color:rgba(64.00000378489494, 99.00000169873238, 203.00000309944153, 1);
	width:30.2515869140625px;
	height:30.2515869140625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_221 { 
	width:63px;
	height:63px;
	position:absolute;
	left:577px;
	top:120px;
}
.e22_222 { 
	background-color:rgba(64.00000378489494, 99.00000169873238, 203.00000309944153, 1);
	width:63px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_213 { 
	color:rgba(64.00000378489494, 99.00000169873238, 203.00000309944153, 1);
	width:435px;
	height:48px;
	position:absolute;
	left:719px;
	top:164px;
	font-family:Josefin Sans;
	text-align:justified;
	font-size:16px;
	letter-spacing:0;
}
.e22_225 { 
	width:51px;
	height:51px;
	position:absolute;
	left:825px;
	top:461px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/_236905302_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_227 { 
	width:51px;
	height:51px;
	position:absolute;
	left:895px;
	top:461px;
	border-top-left-radius:185px;
	border-top-right-radius:185px;
	border-bottom-left-radius:185px;
	border-bottom-right-radius:185px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_485 { 
	width:27px;
	height:30.8570499420166px;
	position:absolute;
	left:25px;
	top:299px;
}
.e22_486 { 
	background-color:rgba(255, 255, 255, 1);
	width:27px;
	height:30.8570499420166px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_505 { 
	width:51px;
	height:51px;
	position:absolute;
	left:965px;
	top:461px;
	border-top-left-radius:39px;
	border-top-right-radius:39px;
	border-bottom-left-radius:39px;
	border-bottom-right-radius:39px;
	background-image:url(images/img_20220914_181525_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_506 { 
	width:51px;
	height:51px;
	position:absolute;
	left:1035px;
	top:461px;
	border-top-left-radius:31px;
	border-top-right-radius:31px;
	border-bottom-left-radius:31px;
	border-bottom-right-radius:31px;
	background-image:url(images/img_4382_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
