<div class="bg-light pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="widget-title">
          <h3 class="mb-4 fs-5 text-secondary text-uppercase">WhatsApp</h3>
        </div>
        <h4 class="text-success">089699912123</h4>
        <p class="text-secondary m-0 mt-3">
          Senin. - Kamis. <b>07.00 - 17:00</b>
        </p>
        <p class="text-secondary">Juma,at. - Minggu. <b>13.00 - 22.00</b></p>
      </div>
    </div>
  </div>
</div>
