<header class="pb-lg-5">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h2 class="text-primary">PestaUnesa</h2>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mob-navbar"
        aria-label="Toggle"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mob-navbar">
        <% if (user) { %> <% if (user.role == "admin") { %>
        <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/informasi">Informasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jadwalAdmin">Jadwal</a>
          </li>
        </ul>
        <% } else { %>
        <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/informasi">Informasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jadwal">Jadwal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/booking">Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-us">About Us</a>
          </li>
        </ul>
        <% } %> <% } else { %>
        <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/informasi">Informasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jadwal">Jadwal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/booking">Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-us">About Us</a>
          </li>
        </ul>
        <% } %> <% if (user) { %>
        <form class="d-flex">
          <a
            href="/logout"
            class="btn btn-primary btn-lg active"
            role="button"
            aria-pressed="true"
            >Logout</a
          >
        </form>
        <% } else { %>
        <form class="d-flex">
          <a
            href="/login"
            class="btn btn-primary btn-lg active"
            role="button"
            aria-pressed="true"
            >Login</a
          >
        </form>
        <% } %>
      </div>
    </div>
  </nav>
</header>
